{% extends 'layouts/base.html' %} {# Sirve para heredar un archivo {% extends 'base.html' %}, en caso de que se encuentre dentro de una carpeta se utiliza el extends y 'nombrecarpeta/nombrearchivo.html' #}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas reprehenderit omnis corporis dolores repudiandae rem error adipisci, amet dicta nesciunt eos soluta doloribus ducimus ipsam explicabo ratione earum illo magni minus, ullam, ea possimus totam tempora quod? Cupiditate expedita reprehenderit, magnam recusandae veritatis facere delectus ducimus rerum. Dignissimos tempora possimus, commodi adipisci enim, autem ut voluptate recusandae alias voluptatibus minima numquam nisi beatae dolorem nostrum unde repudiandae eos ad. Voluptate, deleniti architecto ut eum optio harum natus officiis ad totam vero, fuga, incidunt nesciunt voluptas doloremque officia quibusdam necessitatibus eos recusandae in? Id veniam magni nesciunt doloribus laudantium delectus quo!</p> 
<p>Website created by {{ username }}</p>

{% endblock %}